# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
Groq/x64/Debug/Groq.tlog/Groq.lastbuildstate
Groq/x64/Debug/Groq.tlog/link.command.1.tlog
Groq/x64/Debug/Groq.tlog/link.read.1.tlog
Groq/x64/Debug/Groq.tlog/link.secondary.1.tlog
Groq/x64/Debug/Groq.tlog/link.write.1.tlog
Groq/x64/Debug/vc143.idb
Groq/x64/Debug/vc143.pdb
.vs/Groq/FileContentIndex/0e8b2d90-beee-40e1-b8e3-c52edbe72514.vsidx
.vs/Groq/FileContentIndex/63d21b5f-8e90-4eb5-a043-33d3acc91be8.vsidx
.vs/Groq/FileContentIndex/95395586-ad01-4d84-b363-881ef6cd50b4.vsidx
.vs/Groq/FileContentIndex/b1e02ee0-b489-41e5-a163-e25716c3b062.vsidx
.vs/Groq/FileContentIndex/c6def635-da19-41f8-9f07-cda136c98eb8.vsidx
.vs/Groq/v17/.suo
.vs/Groq/v17/Browse.VC.db
.vs/Groq/v17/Browse.VC.db-shm
.vs/Groq/v17/Browse.VC.db-wal
.vs/Groq/v17/Browse.VC.opendb
.vs/Groq/v17/DocumentLayout.json
.vs/Groq/v17/ipch/AutoPCH/7511d69959f5b5bb/GROQAPI.ipch
.vs/Groq/v17/ipch/AutoPCH/8e0575e6194ddecb/GROQ.ipch
Groq/x64/Debug/Groq.exe.recipe
Groq/x64/Debug/Groq.ilk
Groq/x64/Debug/Groq.log
Groq/x64/Debug/Groq.tlog/CL.command.1.tlog
Groq/x64/Debug/Groq.tlog/Cl.items.tlog
Groq/x64/Debug/Groq.tlog/CL.read.1.tlog
Groq/x64/Debug/Groq.tlog/CL.write.1.tlog
x64/Debug/Groq.pdb
